.title {
  font-size: 30rpx;
  font-weight: bold;
  color: black;
}

.blurb {
  font-size: 26rpx;
  color: grey;
}

.between {
  flex-wrap: wrap;
  align-content: space-between;
}

._img {
  display: block !important;
  font-size: 0;
}

.wrapper {
  background: white;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;

  .section {
    padding: 10rpx;
    flex: 1;
    box-sizing: border-box;

    .top {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 20rpx;
      .title {
        font-size: 34rpx;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        margin-left: 30rpx;
        position: relative;
        &::before {
          position: absolute;
          content: '';
          left: -30rpx;
          width: 14rpx;
          height: 77%;
          top: 10%;
          border-radius: 14rpx;
          background: #00bb84;
        }
      }
    }
  }
}
