.cell-group {
  background-color: #fff;
}
.cell-item {
  padding: 20upx 26upx 20upx 0;
  width: 724upx;
  margin-left: 26upx;
  border-bottom: 2upx solid #f3f3f3;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  display: table;
  min-height: 90upx;
}
.cell-item:last-child {
  border: none;
}
.cell-item-hd {
  display: table-cell;
  vertical-align: middle;
  min-width: 160upx;
  max-width: 180upx;
  font-size: 28upx;
  position: relative;
}
.cell-hd-icon {
  width: 40upx;
  height: 40upx;
  display: inline-block;
  float: left;
  margin-right: 8upx;
}
.cell-hd-title {
  float: left;
  display: inline-block;
  position: relative;
  /* #ifdef MP-ALIPAY */
  top: 4upx;
  /* #endif */
  /* word-wrap: break-word; */
}
.cell-item-bd {
  display: table-cell;
  vertical-align: middle;
  margin-left: 20upx;
  min-height: 30upx;
  overflow: hidden;
  min-width: 440upx;
  max-width: 480upx;
  padding-right: 50upx;
}
.cell-bd-view {
  position: relative;
  overflow: hidden;
}
.cell-bd-text {
  float: left;
  position: relative;
  font-size: 24upx;
}
.cell-bd-text-right {
  float: right;
}
.cell-bd-input {
  display: inline-block;
  float: left;
  font-size: 26upx;
}
.cell-item-ft {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 26upx;
  transform: translateY(-50%);
  overflow: hidden;
}
.right-img .cell-item-ft {
  right: 8upx;
  height: 50upx;
}
.cell-ft-view {
  position: relative;
  overflow: hidden;
  color: #666;
  font-size: 28upx;
  text-align: right;
}
.cell-ft-p {
  font-size: 24upx;
  color: #666;
}
.cell-ft-text {
  font-size: 28upx;
  float: right;
  position: relative;
  /* top: 8upx; */
  line-height: 50upx;
}
.cell-ft-next {
  float: right;
}
.margin-cell-group {
  margin: 20upx 0;
}
.bottom-cell-group {
  margin-bottom: 20upx;
}
.min-cell-group {
  margin-bottom: 1px;
  padding: 20upx 0;
}
.min-cell-group .cell-item {
  border-bottom: none;
  min-height: 50upx;
  padding: 0 26upx 0 0;
}
.right-img .cell-item-ft {
  right: 8upx;
  height: 50upx;
}
.icon {
  width: 50upx;
  height: 50upx;
  /* #ifdef MP-ALIPAY */
  background-size: 100% 100%;
  /* #endif */
}
.member-item {
  /* width: 20%; */
  flex: 1;
  /* float: left; */
  /* display: inline-block; */
  text-align: center;
  position: relative;
}
/*会员中心图标按下事件*/
.member-item:active {
  transform: scale(0.9);
  transition: all 0.5s;
  opacity: 0.8;
}
.member-item-icon {
  width: 50upx;
  height: 50upx;
  display: block;
  margin: 0 auto;
}
.member-item-text {
  font-size: 24upx;
  color: #666;
  display: block;
}
