.button-bottom {
  background-color: #fff;
  bottom: 0;
  height: 90upx;
  width: 100%;
  display: flex;
  z-index: 66;
  box-shadow: 0 0 10px #ccc;
}

.font-weight-b {
  color: black;
  font-size: 28upx;
  font-weight: 600;
  font-weight: bold;
}

.bottom {
  height: 100%;
}
