.button-bottom {
  background-color: #fff;
  bottom: 0;
  height: 90upx;
  width: 100%;
  display: flex;
  z-index: 66;
  box-shadow: 0 0 10px #ccc;
}

.font-weight-b {
  color: black;
  font-size: 28upx;
  font-weight: 600;
  font-weight: bold;
}

.bottom {
  height: 100%;
}
.w-0 {
  width: 0;
}
.w-10 {
  width: 10rpx;
}
.w-60 {
  width: 60rpx;
}
.w-80 {
  width: 80rpx;
}
.w-120 {
  width: 120rpx;
}
.w-140 {
  width: 140rpx;
}
.w-300 {
  width: 300rpx;
}
.w-360 {
  width: 360rpx;
}
.w-400 {
  width: 400rpx;
}

.height-130 {
  height: 130rpx !important;
}

.flex-col-between-center {
  justify-content: space-between !important;
}

.flex-card-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 160rpx;
  padding: 10rpx;
}

.word-break {
  word-break: break-all;
}

.content-top {
  margin-bottom: 120upx;
}

.safe-area {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
